.logjs {
 width: 100%;
 height: 100%;
 margin: 0px;
 padding: 5px;
 border: 1px solid #C4C4C4;
 color: #0AC005;
 background-color: #111111;
 font: 13px Verdana, "Lucida Sans", Arial, Helvetica, sans-serif;
 white-space: nowrap;
 overflow-y: scroll;
 overflow-x: scroll;
}
 
.logjs p {
   margin: 0px;
   padding: 0px;
}
 
.logjs .info {
  
}
 
.logjs .err {
 color: red;
}
 
.logjs .warn {
 color: yellow;
}