<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/example/gama/Gaml" 
       class = "msi.gama.lang.gaml.GamlPackage"
       genModel = "model/generated/Gaml.genmodel" /> 
	
  </extension>
  
  
   <!--extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:new">
         <command
               commandId="org.dslforge.workspace.ui.commands.newProject"
               icon="icons/prj_obj.png"
               id="org.dslforge.workspace.ui.actions.newProject"
               label="Project"
               style="push"
               tooltip="Create a new project">
         </command>
         <command
               commandId="org.dslforge.workspace.ui.commands.newModel"
               helpContextId="CreateNewModel"
               icon="icons/model.png"
               label="Model">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.dslforge.navigator.view">
         <menu
               id="org.dslforge.workspace.menu.new"
               label="New">
            <command
                  commandId="org.dslforge.workspace.ui.commands.newProject"
                  helpContextId="CreateNewProject"
                  icon="icons/prj_obj.png"
                  id="org.dslforge.workspace.menu.new.project"
                  label="Project"
                  style="push"
                  tooltip="Create new project">
            </command>
            <command
                  commandId="org.dslforge.workspace.ui.commands.newModel"
                  helpContextId="CreateNewModel"
                  icon="icons/model.png"
                  label="Model">
            </command>
         </menu>
         <separator
               name="separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
             allPopups="true"
             locationURI="popup:org.dslforge.navigator.view?after=separator2">
          <command
                commandId="msi.gama.core.web.workspace.ui.commands.run"
                helpContextId="RunSimulation"
                icon="icons/run_exec.png"
                id="msi.gama.core.web.workspace.menu.run"
                label="Run"
                style="push"
                tooltip="Run Simulation">
          </command>
          <separator
                name="separator3"
                visible="true">
          </separator>
       </menuContribution>
  
  
   </extension >
   
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="msi.gama.lang.gaml.web.editor.widget.GamlResource">
		<dependsOn
			resourceId="org.dslforge.styledtext.basictext">
		</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="msi.gama.lang.gaml.web.editor.widget.Gaml"
            id="msi.gama.lang.gaml.web.editor.widget.Gaml"
            name="Gaml">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="msi.gama.lang.gaml.web.editor.GamlEditor"
            contributorClass="msi.gama.lang.gaml.web.editor.GamlActionBarContributor"
            default="true"
            extensions="gaml"
            icon="icons/model.png"
            id="msi.gama.lang.gaml.web.editor"
            name="Gaml Model Editor">
      </editor>
   </extension-->
   <!--extension
         point="org.dslforge.xtext.common.contribution">
  <contribution
       factory="msi.gama.lang.gaml.web.GamlExecutableExtensionFactory"
        path="./msi.gama.lang.gaml/src/msi/gama/lang/gaml/grammar/Gaml1.6v2.xtext"
        extension="gaml">
  </contribution>
</extension-->
<extension point="org.eclipse.rap.ui.entrypoint">
	<entrypoint
       brandingId="business"
       class="msi.gama.lang.gaml.web.workbench.BasicWorkbench"
       id="msi.gama.lang.gaml.web.workbench.entrypoint"
       path="/">
		</entrypoint>
	</extension>
	
	

  
 

   <!--extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="msi.gama.gui.view.GamaNavigator">
      </viewer>
      <viewerContentBinding
            viewerId="msi.gama.gui.view.GamaNavigator">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="msi.gama.navigator.fileContent">
            </contentExtension>
            <contentExtension
                  pattern="org.dslforge.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension-->
   


   	
   	
   	
   <extension
         id="webapplication"
         point="org.eclipse.core.runtime.products">
      <product
            application="msi.gama.application_web.GamaApplication"
            name="Gaml Web Editor Product">
         <property
               name="appName"
               value="Gaml Web Editor Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            id="Fancy"
            themeId="org.eclipse.rap.design.example.fancy.theme">
      </branding>
      <branding
            id="business"
            themeId="org.eclipse.rap.design.example.business.theme">
      </branding>
   </extension>
   <!--extension
         point="org.dslforge.workspace.config.configuration">
      <contribution
            path="./webapps/GamaWeb/wp">
      </contribution>
   </extension-->
   
   
   
   


</plugin>
