<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.eclipse.org/xtext/example/gama/Gaml" 
       class = "msi.gama.lang.gaml.GamlPackage"
       genModel = "model/generated/Gaml.genmodel" /> 
	
  </extension>
  
  
  
  
  
   
      <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="msi.gama.lang.gaml.web.editor.widget.GamlResource">
		<dependsOn
			resourceId="org.dslforge.styledtext.basictext">
		</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="msi.gama.lang.gaml.web.editor.widget.Gaml"
            id="msi.gama.lang.gaml.web.editor.widget.Gaml"
            name="Gaml">
      </widget>
   </extension>
   <extension point="org.eclipse.ui.editors">
      <editor
            class="msi.gama.lang.gaml.web.editor.GamlEditor"
            contributorClass="msi.gama.lang.gaml.web.editor.GamlActionBarContributor"
            default="true"
            extensions="gaml"
            icon="icons/model.png"
            id="msi.gama.lang.gaml.web.editor"
            name="Gaml Model Editor">
      </editor>
   </extension>
   <extension
         point="org.dslforge.xtext.common.contribution">
  <contribution
       factory="msi.gama.lang.gaml.web.GamlExecutableExtensionFactory"
        path="./msi.gama.lang.gaml/src/msi/gama/lang/gaml/grammar/Gaml1.6v2.xtext"
        extension="gaml">
  </contribution>
</extension>
<extension point="org.eclipse.rap.ui.entrypoint">
	<entrypoint
       class="msi.gama.lang.gaml.web.editor.BasicWorkbench"
       id="msi.gama.lang.gaml.web.editor.entrypoint"
       path="/texteditor">
		</entrypoint>
	</extension>
	
	

  
 

   <extension
         point="org.eclipse.ui.navigator.viewer">
      <viewer
            viewerId="org.dslforge.navigator.view">
      </viewer>
      <viewerContentBinding
            viewerId="org.dslforge.navigator.view">
         <includes>
            <contentExtension
                  isRoot="true"
                  pattern="org.dslforge.navigator.fileContent">
            </contentExtension>
            <contentExtension
                  pattern="org.dslforge.navigator.*">
            </contentExtension>
         </includes>
      </viewerContentBinding>
   </extension>
   


   	
   	
   	
   	
   	
   	
   <extension
         id="webapplication"
         point="org.eclipse.core.runtime.products">
      <product
            application="msi.gama.lang.gaml.web.editor.application"
            name="Gaml Web Editor Product">
         <property
               name="appName"
               value="Gaml Web Editor Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.dslforge.workspace.config.configuration">
      <contribution
            path="./webapps/GamaWeb/wp">
      </contribution>
   </extension>
   

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isSimulationReady">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <or>
               <with
                     variable="msi.gama.lang.gaml.web.ui.experiment.SimulationRunningState">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
               <with
                     variable="msi.gama.lang.gaml.web.ui.experiment.SimulationRunningState">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </or>
         </and>
      </definition>
      <definition
            id="isSimulationRunning">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.lang.gaml.web.ui.experiment.SimulationRunningState">
               <equals
                     value="RUNNING">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationPaused">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.lang.gaml.web.ui.experiment.SimulationRunningState">
               <equals
                     value="STOPPED">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationExisting">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <not>
               <with
                     variable="msi.gama.lang.gaml.web.ui.experiment.SimulationRunningState">
                  <equals
                        value="NONE">
                  </equals>
               </with>
            </not>
         </and>
      </definition>
      <definition
            id="isGamlEditorOpened">
         <and>
            <reference
                  definitionId="isActiveEditorAnInstanceOfXtextEditor">
            </reference>
            <with
                  variable="activeEditor">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
                     value="msi.gama.lang.gaml.Gaml">
               </test>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationBatch">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.lang.gaml.web.ui.experiment.SimulationType">
               <equals
                     value="BATCH">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationMemorize">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.lang.gaml.web.ui.experiment.SimulationType">
               <equals
                     value="MEMORIZE">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isInModelingPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="msi.gama.application.perspectives.ModelingPerspective">
            </equals>
         </with>
      </definition>
      <definition
            id="isInSimulationPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <test
                  property="msi.gama.lang.gaml.web.ui.containsString"
                  value="Simulation">
            </test>
         </with>
      </definition>
   </extension>
   
   
   
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="msi.gama.application.simulation.context"
            name="In Experiments"
            parentId="org.eclipse.ui.contexts.dialogAndWindow">
      </context>
   </extension>
   
   


</plugin>
