<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.rap.ui.launch.RAPLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="askclear" value="false"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <booleanAttribute key="clearws" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/GamlWebEditor_current"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console -data @noDefault"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dosgi.requiredJavaVersion=1.8 -XX:+UseG1GC -XX:+UseStringDeduplication -Dosgi.requiredJavaVersion=1.8 -Xms256m -Xmx4096m -Declipse.ignoreApp=true -Dosgi.noShutdown=true&#13;&#10;-Dorg.eclipse.equinox.http.jetty.log.stderr.threshold=none"/>
    <stringAttribute key="org.eclipse.rap.launch.browserMode" value="INTERNAL"/>
    <stringAttribute key="org.eclipse.rap.launch.contextpath" value="/controller_GamaWeb"/>
    <stringAttribute key="org.eclipse.rap.launch.dataLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.rap.tools.launch/GamlWebEditor_current"/>
    <booleanAttribute key="org.eclipse.rap.launch.developmentMode" value="false"/>
    <booleanAttribute key="org.eclipse.rap.launch.openBrowser" value="false"/>
    <intAttribute key="org.eclipse.rap.launch.port" value="10080"/>
    <stringAttribute key="org.eclipse.rap.launch.servletPath" value="/texteditor"/>
    <intAttribute key="org.eclipse.rap.launch.sessionTimeout" value="0"/>
    <booleanAttribute key="org.eclipse.rap.launch.useDefaultDataLocation" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useManualContextPath" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useManualPort" value="true"/>
    <booleanAttribute key="org.eclipse.rap.launch.useSessionTimeout" value="false"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.google.gson@default:default"/>
        <setEntry value="com.google.guava*21.0.0.v20170206-1425@default:default"/>
        <setEntry value="com.google.guava*27.1.0.v20190517-1946@default:default"/>
        <setEntry value="com.google.guava*30.1.0.v20210127-2300@default:default"/>
        <setEntry value="com.google.inject@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="javax.activation*1.1.0.v201211130549@default:default"/>
        <setEntry value="javax.activation*1.2.2.v20201119-1642@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="org.antlr.runtime@default:default"/>
        <setEntry value="org.apache.commons.compress@default:default"/>
        <setEntry value="org.apache.commons.fileupload*1.3.1.201405120000@default:default"/>
        <setEntry value="org.apache.commons.fileupload*1.3.2.v20170320-2229@default:default"/>
        <setEntry value="org.apache.commons.io*2.2.0.201405120000@default:default"/>
        <setEntry value="org.apache.commons.io*2.6.0.v20190123-2029@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.lang@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.xerces*2.12.1.v20210115-0812@default:default"/>
        <setEntry value="org.apache.xerces*2.9.0.v201101211617@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers@default:default"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.emf.rap.common.ui@default:default"/>
        <setEntry value="org.eclipse.emf.rap.edit.ui@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.core@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.engine@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.metadata@default:default"/>
        <setEntry value="org.eclipse.equinox.p2.repository@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jem.util@default:default"/>
        <setEntry value="org.eclipse.jetty.continuation@default:default"/>
        <setEntry value="org.eclipse.jetty.http@default:default"/>
        <setEntry value="org.eclipse.jetty.io@default:default"/>
        <setEntry value="org.eclipse.jetty.security@default:default"/>
        <setEntry value="org.eclipse.jetty.server@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jetty.util@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.text@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.pde.ds.lib@default:default"/>
        <setEntry value="org.eclipse.rap.addons.filedialog@default:default"/>
        <setEntry value="org.eclipse.rap.addons.fileupload@default:default"/>
        <setEntry value="org.eclipse.rap.design.example@default:default"/>
        <setEntry value="org.eclipse.rap.filedialog@default:default"/>
        <setEntry value="org.eclipse.rap.fileupload@default:default"/>
        <setEntry value="org.eclipse.rap.jface*3.16.0.20210107-1310@default:default"/>
        <setEntry value="org.eclipse.rap.jface*3.17.0.20210319-1404@default:default"/>
        <setEntry value="org.eclipse.rap.jface.databinding*3.16.0.20210107-1310@default:default"/>
        <setEntry value="org.eclipse.rap.jface.databinding*3.17.0.20210319-1404@default:default"/>
        <setEntry value="org.eclipse.rap.rwt*3.16.0.20210304-1215@default:default"/>
        <setEntry value="org.eclipse.rap.rwt*3.17.0.20210510-1356@default:default"/>
        <setEntry value="org.eclipse.rap.rwt.osgi*3.16.0.20210107-1310@default:default"/>
        <setEntry value="org.eclipse.rap.rwt.osgi*3.17.0.20210526-1425@default:default"/>
        <setEntry value="org.eclipse.rap.ui*3.16.0.20210107-1310@default:default"/>
        <setEntry value="org.eclipse.rap.ui.forms@default:default"/>
        <setEntry value="org.eclipse.rap.ui.navigator@default:default"/>
        <setEntry value="org.eclipse.rap.ui.views@default:default"/>
        <setEntry value="org.eclipse.rap.ui.workbench*3.16.0.20210107-1310@default:default"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.wst.common.core@default:default"/>
        <setEntry value="org.eclipse.wst.common.emf@default:default"/>
        <setEntry value="org.eclipse.wst.common.environment@default:default"/>
        <setEntry value="org.eclipse.wst.common.frameworks@default:default"/>
        <setEntry value="org.eclipse.wst.common.project.facet.core@default:default"/>
        <setEntry value="org.eclipse.wst.common.uriresolver@default:default"/>
        <setEntry value="org.eclipse.wst.sse.core@default:default"/>
        <setEntry value="org.eclipse.wst.validation@default:default"/>
        <setEntry value="org.eclipse.wst.xml.core@default:default"/>
        <setEntry value="org.eclipse.wst.xsd.core@default:default"/>
        <setEntry value="org.eclipse.xsd@default:default"/>
        <setEntry value="org.eclipse.xtend.lib.macro@default:default"/>
        <setEntry value="org.eclipse.xtend.lib@default:default"/>
        <setEntry value="org.eclipse.xtext.ide@default:default"/>
        <setEntry value="org.eclipse.xtext.logging@default:false"/>
        <setEntry value="org.eclipse.xtext.smap@default:default"/>
        <setEntry value="org.eclipse.xtext.util@default:default"/>
        <setEntry value="org.eclipse.xtext.xbase.lib@default:default"/>
        <setEntry value="org.eclipse.xtext@default:default"/>
        <setEntry value="org.hamcrest.core@default:default"/>
        <setEntry value="org.junit@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="cict.gama.web.wrapper@default:default"/>
        <setEntry value="msi.gama.application_web@default:default"/>
        <setEntry value="msi.gama.core@default:default"/>
        <setEntry value="msi.gama.core_web@default:default"/>
        <setEntry value="msi.gama.ext@default:default"/>
        <setEntry value="msi.gama.lang.gaml.web@default:default"/>
        <setEntry value="msi.gama.lang.gaml@default:default"/>
        <setEntry value="msi.gama.models@default:default"/>
        <setEntry value="msi.gama.processor@default:default"/>
        <setEntry value="org.dslforge.styledtext@default:default"/>
        <setEntry value="org.dslforge.texteditor@default:default"/>
        <setEntry value="org.dslforge.workspace@default:default"/>
        <setEntry value="ummisco.gama.annotations@default:default"/>
        <setEntry value="ummisco.gama.java2d_web@default:default"/>
        <setEntry value="ummisco.gama.opengl_web@default:default"/>
        <setEntry value="ummisco.gama.participative@default:default"/>
        <setEntry value="ummisco.gama.ui.experiment_web@default:default"/>
        <setEntry value="ummisco.gama.ui.modeling_web@default:default"/>
        <setEntry value="ummisco.gama.ui.navigator_web@default:default"/>
        <setEntry value="ummisco.gama.ui.shared_web@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <booleanAttribute key="tracing" value="true"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
