<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>



	<extension
		point="org.eclipse.ui.perspectives">
  <perspective
        class="ummisco.gama.ui.perspective.SimulationPerspective"
        fixed="false"
        icon="icons/perspective.simulation2.png"
        id="msi.gama.application.perspectives.SimulationPerspective"
        name="Simulation">
     <description>
        The base perspective definition for simulation perspectives
     </description>
  </perspective>
  <perspective
        class="ummisco.gama.ui.perspective.ModelingPerspective"
        fixed="true"
        icon="platform:/plugin/ummisco.gama.ui.shared/icons/perspective.simulation2.png"
        id="msi.gama.application.perspectives.ModelingPerspective"
        name="Modeling">
     <description>
        The perspective used to edit GAMA models
     </description>
  </perspective>
	</extension>
  
 



   	
   <extension
         point="org.eclipse.ui.services">
     <serviceFactory
             factoryClass="ummisco.gama.ui.factories.AgentMenuFactory">
          <service></service>
          <service
                serviceClass="ummisco.gama.ui.interfaces.IAgentMenuFactory">
          </service>
       </serviceFactory>
     <serviceFactory
             factoryClass="ummisco.gama.ui.factories.UserDialogFactory">
          <service></service>
          <service
                serviceClass="ummisco.gama.ui.interfaces.IUserDialogFactory">
          </service>
       </serviceFactory>
       

     <serviceFactory
             factoryClass="ummisco.gama.ui.factories.StatusDisplayerFactory">
          <service></service>
          <service
                serviceClass="msi.gama.common.interfaces.IStatusDisplayer">
          </service>
       </serviceFactory>
       

       

     <serviceFactory
             factoryClass="ummisco.gama.ui.factories.RuntimeExceptionHandlerFactory">
          <service></service>
          <service
                serviceClass="msi.gama.common.interfaces.IRuntimeExceptionHandler">
          </service>
       </serviceFactory>
       

      <sourceProvider
            provider="ummisco.gama.ui.commands.SimulationStateProvider">
         <variable
               name="msi.gama.core.web.ui.experiment.SimulationRunningState"
               priorityLevel="workbench">
         </variable>
         <variable
               name="msi.gama.core.web.ui.experiment.SimulationType"
               priorityLevel="workbench">
         </variable>
      </sourceProvider>
   </extension>
   
   	
   	
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:new">
         <command
               commandId="org.dslforge.workspace.ui.commands.newProject"
               icon="icons/prj_obj.png"
               id="org.dslforge.workspace.ui.actions.newProject"
               label="Project"
               style="push"
               tooltip="Create a new project">
         </command>
         <command
               commandId="org.dslforge.workspace.ui.commands.newModel"
               helpContextId="CreateNewModel"
               icon="icons/model.png"
               label="Model">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="true"
            locationURI="popup:org.dslforge.navigator.view">
         <menu
               id="org.dslforge.workspace.menu.new"
               label="New">
            <command
                  commandId="org.dslforge.workspace.ui.commands.newProject"
                  helpContextId="CreateNewProject"
                  icon="icons/prj_obj.png"
                  id="org.dslforge.workspace.menu.new.project"
                  label="Project"
                  style="push"
                  tooltip="Create new project">
            </command>
            <command
                  commandId="org.dslforge.workspace.ui.commands.newModel"
                  helpContextId="CreateNewModel"
                  icon="icons/model.png"
                  label="Model">
            </command>
         </menu>
         <separator
               name="separator1"
               visible="true">
         </separator>
      </menuContribution>
      <menuContribution
             allPopups="true"
             locationURI="popup:org.dslforge.navigator.view?after=separator2">
          <command
                commandId="msi.gama.core.web.workspace.ui.commands.import"
                helpContextId="ImportProject"
                icon="icons/navigator/navigator.import.project2.png"
                id="msi.gama.core.web.workspace.menu.import"
                label="Import"
                style="push"
                tooltip="Import Project">
          </command>
          <separator
                name="separator3"
                visible="true">
          </separator>
       </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="msi.gama.application.common.toolbar"
               label="Common">
            <command
                  commandId="msi.gama.application.goto.modeling"
                  icon="icons/perspective.modeling2.png"
                  label="Modeling perspective"
                  style="push"
                  tooltip="Open modeling perspective">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <reference
                           definitionId="isInModelingPerspective">
                     </reference>
                  </not>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.goto.simulation"
                  icon="icons/perspective.simulation2.png"
                  label="Simulation perspective"
                  style="push"
                  tooltip="Open simulation perspective">
               <visibleWhen
                     checkEnabled="false">
                  <not>
                     <reference
                           definitionId="isInSimulationPerspective">
                     </reference>
                  </not>
               </visibleWhen>
            </command>
            <control
                  class="ummisco.gama.ui.controls.Separator"
                  id="separator2876">
            </control>
         </toolbar>
         <toolbar
               id="msi.gama.application.experiment.toolbar"
               label="Experiment">
            <control
                  class="ummisco.gama.ui.controls.StatusControlContribution"
                  id="msi.gama.application.status">
            </control>
            <command
                  commandId="msi.gama.core.web.ui.experiment.dummy"
                  icon="platform:/plugin/msi.gama.core.web/icons/windows_spacer.png"
                  style="push"
                  tooltip="  ">
            </command>
            <command
                  commandId="msi.gama.application.commands.PlaySimulation"
                  icon="platform:/plugin/msi.gama.core.web/icons/menu.run4.png"
                  label="Run Experiment"
                  style="push"
                  tooltip="Run the currently opened experiment">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationPaused">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.PauseSimulation"
                  icon="platform:/plugin/msi.gama.core.web/icons/menu.pause4.png"
                  label="Pause Experiment"
                  style="push"
                  tooltip="Pause the currently opened experiment">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationRunning">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.StepByStepSimulation"
                  icon="platform:/plugin/msi.gama.core.web/icons/menu.step4.png"
                  label="Step Experiment"
                  style="push"
                  tooltip="Advance the experiment step by step">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationReady">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.StepBackSimulation"
                  icon="platform:/plugin/msi.gama.core.web/icons/menu.stepBack1.png"
                  label="Step Back"
                  style="push"
                  tooltip="Make One step back in the simulation">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="isSimulationReady">
                     </reference>
                     <reference
                           definitionId="isSimulationMemorize">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            
            <command
                  commandId="msi.gama.application.commands.ReloadSimulation"
                  icon="platform:/plugin/msi.gama.core.web/icons/menu.reload4.png"
                  label="Reload Experiment"
                  mnemonic="M1+M2+R"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="isInSimulationPerspective">
                     </reference>
                     <reference
                           definitionId="isSimulationExisting">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.Cancel"
                  icon="platform:/plugin/msi.gama.core.web/icons/toolbar.stop2.png"
                  label="Close Experiment"
                  style="push"
                  tooltip="Stops the currently opened experiment and closes its perspective">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="isInSimulationPerspective">
                     </reference>
                     <reference
                           definitionId="isSimulationExisting">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
         </toolbar>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:file?after=open.ext">
         <command
               commandId="org.eclipse.ui.file.switchWorkspace"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               id="simulationMenu"
               label="Experiment">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="isSimulationReady">
               </reference>
            </visibleWhen>
            <command
                  commandId="msi.gama.application.commands.PlaySimulation"
                  icon="icons/menu.run4.png"
                  label="Run Experiment"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationPaused">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.PauseSimulation"
                  icon="icons/menu.pause4.png"
                  label="Pause Experiment"
                  mnemonic="M1+P"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationRunning">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.StepByStepSimulation"
                  icon="icons/menu.step4.png"
                  label="Step Experiment"
                  style="push"
                  tooltip="Advance the experiment step by step">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationReady">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="msi.gama.application.commands.StepBackSimulation"
                  icon="icons/menu.stepBack1.png"
                  label="Step Back Experiment"
                  style="push"
                  tooltip="Make One step back in the simulation">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="isSimulationReady">
                     </reference>
                     <reference
                           definitionId="isSimulationMemorize">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
            <separator
                  name="msi.gama.application.separator1"
                  visible="true">
            </separator>
            <command
                  commandId="msi.gama.application.commands.ReloadSimulation"
                  icon="icons/menu.reload4.png"
                  label="Reload Experiment"
                  mnemonic="M1+M2+R"
                  style="push">
            </command>
            <separator
                  name="msi.gama.application.separator2"
                  visible="true">
            </separator>
            <command
                  commandId="msi.gama.application.commands.PauseAndEdit"
                  icon="icons/menu.stop2.png"
                  label="Stop at first error"
                  style="toggle">
            </command>
            <command
                  commandId="msi.gama.application.commands.WarningsAsErrors"
                  icon="icons/menu.warning2.png"
                  label="Treat warnings like errors"
                  style="toggle">
            </command>
           
            <separator
                  name="msi.gama.application.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="msi.gama.application.commands.Cancel"
                  icon="icons/toolbar.stop2.png"
                  label="Close Experiment"
                  style="push"
                  tooltip="Stops the current experiment and dispose of it.">
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="isInSimulationPerspective">
                     </reference>
                     <reference
                           definitionId="isSimulationExisting">
                     </reference>
                  </and>
               </visibleWhen>
            </command>
         </menu>
         <menu
               label="Agents">
            <dynamic
                  class="ummisco.gama.ui.menus.AgentsMenu"
                  id="msi.gama.application.agents.menu">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="isSimulationReady">
               </reference>
            </visibleWhen>
         </menu>
         <menu
               id="viewMenu"
               label="Views">
            
          
            <command
                  commandId="org.eclipse.ui.window.hideShowEditors"
                  icon="icons/menu.save.perspective.png"
                  label="Hide/Show Editors"
                  style="push"
                  tooltip="Hide or show the editors">
            </command>
            <separator
                  name="msi.gama.application.separator3"
                  visible="true">
            </separator>
            <command
                  commandId="msi.gama.application.commands.ShowHideConsoleView"
                  icon="icons/menu.open.console2.png"
                  label="Console"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="isSimulationReady">
                  </reference>
               </visibleWhen>
            </command>
            <separator
                  name="msi.gama.application.window.views"
                  visible="true">
            </separator>
            <menu
                  icon="icons/menu.layout.png"
                  label="Arrange Display Views...">
               <command
                     commandId="msi.gama.application.layoutDisplays"
                     icon="icons/layout.stack.png"
                     label="Stacked"
                     style="push">
                  <parameter
                        name="msi.gama.displays.layout"
                        value="Stacked">
                  </parameter>
               </command>
               <command
                     commandId="msi.gama.application.layoutDisplays"
                     icon="icons/layout.grid.png"
                     label="Split"
                     style="push">
                  <parameter
                        name="msi.gama.displays.layout"
                        value="Split">
                  </parameter>
               </command>
               <command
                     commandId="msi.gama.application.layoutDisplays"
                     icon="icons/layout.horizontal.png"
                     label="Horizontally"
                     style="push">
                  <parameter
                        name="msi.gama.displays.layout"
                        value="Horizontal">
                  </parameter>
               </command>
               <command
                     commandId="msi.gama.application.layoutDisplays"
                     icon="icons/layout.vertical.png"
                     label="Vertically"
                     style="push">
                  <parameter
                        name="msi.gama.displays.layout"
                        value="Vertical">
                  </parameter>
               </command>
               <visibleWhen
                     checkEnabled="false">
                  <and>
                     <reference
                           definitionId="isSimulationReady">
                     </reference>
                     <reference
                           definitionId="isInSimulationPerspective">
                     </reference>
                  </and>
               </visibleWhen>
            </menu>
            <menu
                  icon="icons/menu.other.png"
                  label="Other...">
               <menu
                     icon="icons/menu.open.perspective2.png"
                     label="Switch to Perspective...">
                  <command
                        commandId="msi.gama.application.goto.modeling"
                        icon="icons/perspective.modeling2.png"
                        label="Modeling"
                        style="push"
                        tooltip="Open modeling perspective">
                     <visibleWhen
                           checkEnabled="false">
                        <not>
                           <reference
                                 definitionId="isInModelingPerspective">
                           </reference>
                        </not>
                     </visibleWhen>
                  </command>
                  <command
                        commandId="msi.gama.application.goto.simulation"
                        icon="icons/perspective.simulation2.png"
                        label="Simulation"
                        style="push"
                        tooltip="Open simulation perspective">
                     <visibleWhen
                           checkEnabled="false">
                        <not>
                           <reference
                                 definitionId="isInSimulationPerspective">
                           </reference>
                        </not>
                     </visibleWhen>
                  </command>
               </menu>
               <command
                     commandId="org.eclipse.ui.window.resetPerspective"
                     icon="icons/menu.reset.perspective2.png"
                     label="Reset Perspective..."
                     style="push">
               </command>
               <separator
                     name="msi.gama.application.window.perspectives"
                     visible="true">
               </separator>
               <menu
                     icon="icons/menu.open.view2.png"
                     label="Show View">
                  <dynamic
                        class="ummisco.gama.ui.commands.ShowViewContributionItem"
                        id="msi.gama.application.showView">
                  </dynamic>
               </menu>
               <command
                     commandId="org.eclipse.ui.ToggleCoolbarAction"
                     icon="icons/menu.toolbar2.png"
                     label="Toggle Toolbar"
                     style="push"
                     tooltip="Toggle the main toolbar on and off">
               </command>
            </menu>
            <command
                  commandId="msi.gama.application.preferences"
                  icon="/icons/menu.open.preferences2.png"
                  label="Preferences"
                  style="push"
                  tooltip="Open preferences">
            </command>
         </menu>
      </menuContribution>
      
   	</extension>

   	
   	
   	
   	
   	
   	
   	
   	<extension
         point="org.eclipse.ui.views">
      <category
            id="msi.gama.gui.category.gama"
            name="Gama">
      </category>
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.console.ConsoleView"
            icon="icons/view.console2.png"
            id="msi.gama.application.view.ConsoleView"
            name="Console"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.inspectors.MonitorView"
            icon="platform:/plugin/msi.gama.core.web/icons/view.monitors2.png"
            id="msi.gama.application.view.MonitorView"
            name="Monitors"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.inspectors.ExperimentParametersView"
            icon="platform:/plugin/msi.gama.core.web/icons/view.parameters2.png"
            id="msi.gama.application.view.ParameterView"
            name="Parameters"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.ErrorView"
            icon="platform:/plugin/msi.gama.core.web/icons/view.errors2.png"
            id="msi.gama.application.view.ErrorView"
            name="Errors"
            restorable="false">
      </view>
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.console.ConsoleView"
            icon="platform:/plugin/msi.gama.core.web/icons/view.console2.png"
            id="msi.gama.application.view.ConsoleView"
            name="Console"
            restorable="false">
      </view>
      <!--
      <view
            allowMultiple="false"
            category="msi.gama.gui.category.gama"
            class="ummisco.gama.ui.views.LoginView"
            icon="platform:/plugin/msi.gama.core.web/icons/view.errors2.png"
            id="msi.gama.application.view.LoginView"
            name="Login"
            restorable="false">
      </view>
    -->
   </extension>
   	
   	
   	
   	


   <extension
         point="org.eclipse.ui.perspectiveExtensions">
     <!-- <perspectiveExtension
            targetID="*">
         <hiddenMenuItem
               id="org.eclipse.ui.project.buildAll">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.pde.ui.junitWorkbenchShortcut.debug">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.pde.ui.junitWorkbenchShortcut.run">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.externaltools.ExternalToolMenuDelegateToolbar">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.externalTools.commands.OpenExternalToolsConfigurations">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.navigate.addToWorkingSet">
         </hiddenMenuItem>
         <hiddenMenuItem
               id="org.eclipse.ui.navigate.removeFromWorkingSet">
         </hiddenMenuItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.back">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forward">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.up">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.next">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.backwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.forwardHistory">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.navigate.previous">
         </hiddenToolBarItem>
         <hiddenToolBarItem
               id="org.eclipse.ui.edit.text.gotoPreviousAnnotation">
         </hiddenToolBarItem>
      </perspectiveExtension>
      -->
      <perspectiveExtension
            targetID="msi.gama.application.perspectives.SimulationPerspective">
         <viewShortcut
               id="msi.gama.application.view.ConsoleView">
         </viewShortcut>       
         <viewShortcut
               id="msi.gama.application.view.ErrorView">
         </viewShortcut>
         <viewShortcut
               id="msi.gama.application.view.ParameterView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.eclipse.ui.edit.copy"
            icon="icons/menu.copy2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.cut"
            icon="icons/menu.cut2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.delete"
            icon="icons/menu.delete2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.paste"
            icon="icons/menu.paste2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.print"
            icon="icons/menu.print2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.undo"
            icon="icons/menu.undo2.png">
      </image>
      <image
            commandId="org.eclipse.ui.edit.redo"
            icon="icons/menu.redo2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.save"
            icon="icons/menu.save2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAll"
            icon="icons/menu.saveall2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.saveAs"
            icon="icons/menu.saveas2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.refresh"
            icon="icons/navigator/navigator.refresh2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.export"
            icon="icons/menu.export2.png">
      </image>
      <image
            commandId="org.eclipse.ui.file.import"
            icon="icons/menu.import2.png">
      </image>
      <image
            commandId="org.eclipse.ui.navigate.collapseAll"
            icon="icons/navigator/navigator.collapse2.png">
      </image>
      <image
            commandId="org.eclipse.ui.window.preferences"
            icon="icons/menu.open.preferences2.png">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.PlayPauseSimulationHandler"
            id="msi.gama.application.commands.PlaySimulation"
            name="Play Experiment">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.PlayPauseSimulationHandler"
            id="msi.gama.application.commands.PauseSimulation"
            name="Pause Simulation">
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.StepByStepSimulation"
            name="Next Step">
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.StepBackSimulation"
            name="Previous Step ">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.ReloadSimulationHandler"
            id="msi.gama.application.commands.ReloadSimulation"
            name="Reload Simulation">
      </command>
      
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.ShowHideConsoleView"
            name="Show console">
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.Cancel"
            name="Cancel">
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.PauseAndEdit"
            name="Pause at first error">
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.WarningsAsErrors"
            name="Treat warnings like errors">
      </command>
      
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.goto.modeling"
            name="Switch to modeling perspective">
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.layoutDisplays"
            name="Layout display views">
         <commandParameter
               id="msi.gama.displays.layout"
               name="layout"
               optional="false"
               typeId="msi.gama.application.String">
         </commandParameter>
      </command>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.goto.simulation"
            name="Switch to simulation perspective">
      </command>
      <command
            defaultHandler="ummisco.gama.ui.commands.DummyHandler"
            id="msi.gama.core.web.ui.experiment.dummy"
            name="Separator">
      </command>
      <command
            id="msi.gama.core.web.ui.experiment.command1"
            name="name">
      </command>
      <category
            id="msi.gama.category"
            name="Specific to GAMA">
      </category>
      <commandParameterType
            id="msi.gama.application.String"
            type="java.lang.String">
      </commandParameterType>
      <commandParameterType
            id="msi.gama.application.String"
            type="java.lang.String">
      </commandParameterType>
      <command
            categoryId="msi.gama.category"
            id="msi.gama.application.commands.AddMonitor"
            name="Add a monitor">
      </command>
      <command
            defaultHandler="msi.gama.core.web.workspace.ui.commands.ImportProjectCommand"
            description="Import Project"
            helpContextId="ImportProject"
            id="msi.gama.core.web.workspace.ui.commands.import"
            name="About">
      </command>
      <command
            defaultHandler="msi.gama.core.web.editor.commands.AboutCommand"
            description="About"
            helpContextId="About"
            id="msi.gama.core.web.editor.commands.help"
            name="About">
      </command>
      <command
            categoryId="msi.gama.category"
            defaultHandler="ummisco.gama.ui.commands.PreferencesHandler"
            id="msi.gama.application.preferences"
            name="Preferences">
      </command>
   </extension>




   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ummisco.gama.ui.commands.StepBackHandler"
            commandId="msi.gama.application.commands.StepBackSimulation">
         <activeWhen>
            <with
                  variable="msi.gama.application.commands.SimulationStepBack">
               <equals
                     value="CAN_STEP_BACK">
               </equals>
            </with>
         </activeWhen>
         <enabledWhen>
            <with
                  variable="msi.gama.application.commands.SimulationStepBack">
               <equals
                     value="CAN_STEP_BACK">
               </equals>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.PlayPauseSimulationHandler"
            commandId="msi.gama.application.commands.PlaySimulation">
         <activeWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </activeWhen>
         <enabledWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.StepByStepHandler"
            commandId="msi.gama.application.commands.StepByStepSimulation">
         <activeWhen>
            <and>
               <reference
                     definitionId="isSimulationReady">
               </reference>
               <not>
                  <reference
                        definitionId="isSimulationBatch">
                  </reference>
               </not>
            </and>
         </activeWhen>
         <enabledWhen>
            <and>
               <reference
                     definitionId="isSimulationReady">
               </reference>
               <not>
                  <reference
                        definitionId="isSimulationRunning">
                  </reference>
               </not>
            </and>
         </enabledWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.ReloadSimulationHandler"
            commandId="msi.gama.application.commands.ReloadSimulation">
         <activeWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.AddMonitorHandler"
            commandId="msi.gama.application.commands.AddMonitor">
         <activeWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.ShowHideParametersViewHandler"
            commandId="msi.gama.application.commands.ShowHideParametersView">
         <activeWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.ShowHideConsoleViewHandler"
            commandId="msi.gama.application.commands.ShowHideConsoleView">
         <activeWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.CancelRun"
            commandId="msi.gama.application.commands.Cancel">
         <activeWhen>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.ErrorsPauseAndEdit"
            commandId="msi.gama.application.commands.PauseAndEdit">
      </handler>
      <handler
            class="ummisco.gama.ui.commands.TreatWarningsAsErrors"
            commandId="msi.gama.application.commands.WarningsAsErrors">
      </handler>
     
      <handler
            class="ummisco.gama.ui.commands.ResetSimulationPerspective"
            commandId="org.eclipse.ui.window.resetPerspective">
         <activeWhen>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.SwitchToModeling"
            commandId="msi.gama.application.goto.modeling">
         <activeWhen>
            <reference
                  definitionId="isSimulationReady">
            </reference>
         </activeWhen>
      </handler>
      
      <handler
            class="ummisco.gama.ui.commands.SwitchToSimulation"
            commandId="msi.gama.application.goto.simulation">
         <activeWhen>
            <and>
               <reference
                     definitionId="isInModelingPerspective">
               </reference>
               <not>
                  <with
                        variable="msi.gama.core.web.ui.experiment.SimulationRunningState">
                     <equals
                           value="NONE">
                     </equals>
                  </with>
               </not>
            </and>
         </activeWhen>
      </handler>
      <handler
            class="ummisco.gama.ui.commands.PreferencesHandler"
            commandId="org.eclipse.ui.window.preferences">
         <activeWhen>
            <or>
               <reference
                     definitionId="isInModelingPerspective">
               </reference>
               <reference
                     definitionId="isInSimulationPerspective">
               </reference>
            </or>
         </activeWhen>
      </handler>
   </extension>
   
   

   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="isSimulationReady">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <or>
               <with
                     variable="msi.gama.core.web.ui.experiment.SimulationRunningState">
                  <equals
                        value="RUNNING">
                  </equals>
               </with>
               <with
                     variable="msi.gama.core.web.ui.experiment.SimulationRunningState">
                  <equals
                        value="STOPPED">
                  </equals>
               </with>
            </or>
         </and>
      </definition>
      <definition
            id="isSimulationRunning">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.core.web.ui.experiment.SimulationRunningState">
               <equals
                     value="RUNNING">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationPaused">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.core.web.ui.experiment.SimulationRunningState">
               <equals
                     value="STOPPED">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationExisting">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <not>
               <with
                     variable="msi.gama.core.web.ui.experiment.SimulationRunningState">
                  <equals
                        value="NONE">
                  </equals>
               </with>
            </not>
         </and>
      </definition>
      <definition
            id="isGamlEditorOpened">
         <and>
            <reference
                  definitionId="isActiveEditorAnInstanceOfXtextEditor">
            </reference>
            <with
                  variable="activeEditor">
               <test
                     forcePluginActivation="true"
                     property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
                     value="msi.gama.lang.gaml.Gaml">
               </test>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationBatch">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.core.web.ui.experiment.SimulationType">
               <equals
                     value="BATCH">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isSimulationMemorize">
         <and>
            <reference
                  definitionId="isInSimulationPerspective">
            </reference>
            <with
                  variable="msi.gama.core.web.ui.experiment.SimulationType">
               <equals
                     value="MEMORIZE">
               </equals>
            </with>
         </and>
      </definition>
      <definition
            id="isInModelingPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <equals
                  value="msi.gama.application.perspectives.ModelingPerspective">
            </equals>
         </with>
      </definition>
      <definition
            id="isInSimulationPerspective">
         <with
               variable="activeWorkbenchWindow.activePerspective">
            <test
                  property="msi.gama.core.web.ui.containsString"
                  value="Simulation">
            </test>
         </with>
      </definition>
   </extension>
   
   
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="ummisco.gama.ui.perspective.PerspectiveNamePropertyTester"
            id="msi.gama.core.web.ui.PerspectiveNamePropertyTester"
            namespace="msi.gama.core.web.ui"
            properties="containsString"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="gaml.extension">
   </extension>
</plugin>
