<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
	
	<extension point="org.eclipse.ui.editors">
  		<editor
        	class="msi.gama.lang.gaml.web.editor.EtherpadEditor"
        	contributorClass="msi.gama.lang.gaml.web.editor.GamlActionBarContributor"
        	default="true"
        	extensions="gaml"
        	icon="icons/model.png"
        	id="msi.gama.lang.gaml.web.editor.EtherpadEditor"
        	name="EtherPad based Gaml Model Editor">
  		</editor>
   </extension>
	
</plugin>
