<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="gaml.extension">
   </extension>
	
	<extension point="org.eclipse.ui.editors">
  		<editor
        	class="msi.gama.lang.gaml.web.editor.participative.EtherpadEditor"
        	contributorClass="msi.gama.lang.gaml.web.editor.participative.EtherPadActionBarContributor"
        	default="false"
        	extensions="gaml"
        	icon="icons/model.png"
        	id="msi.gama.lang.gaml.web.editor.EtherPadEditor"
        	name="EtherPad based Gaml Model Editor">
  		</editor>
   </extension>
   
   
    <extension
         point="org.eclipse.rap.ui.resources">
      <resource
          class="ummisco.gama.participative.EtherGamlResource">
		<dependsOn
			resourceId="org.dslforge.styledtext.basictext">
		</dependsOn>
      </resource>
   </extension>
   <extension
         point="org.eclipse.rap.ui.themeableWidgets">
      <widget
            class="ummisco.gama.participative.EtherpadBasicText"
            id="ummisco.gama.participative.EtherpadBasicText"
            name="EtherGaml">
      </widget>
   </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="ummisco.gama.workspace.ui.commands.OpenEtherPadCommand"
          description="Open EtherPad Editor"
          helpContextId="OpenEtherPad"
          id="ummisco.gama.workspace.ui.commands.openEtherPad"
          name="OpenEtherPad">
    </command>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="popup:org.dslforge.navigator.view?after=separator1">
       <menu
             id="org.dslforge.workspace.menu.openwith"
             label="Open With"
             tooltip="Open with">
          <command
                commandId="ummisco.gama.workspace.ui.commands.openEtherPad"
                helpContextId="OpenEtherPadEditor"
                icon="icons/model.png"
                id="ummisco.gama.workspace.menu.open.etherpad"
                label="EtherPad Editor"
                style="push"
                tooltip="Open with EtherPad editor">
          </command>
       </menu>
    </menuContribution>
 </extension>
	
</plugin>
